@media only screen and (max-width: 600px) {
  #aboutAndResume {
    visibility: hidden;
  }
}

@media only screen and (max-width: 600px) {
  #name {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  #hamburger {
    visibility: visible;
    margin-top: 2vh;
  }
}
